.container {
    display: flex;
}

.top-container {
    margin-left: 30%;
    border: 1px solid #141313;
    margin-top: 50px;
    width: 500px;
    height: 50px;
    background-color: #48cf6c;
}

.chat-container {
    margin-left: 30%;
    border: 1px solid #141313;
    width: 500px;
    height: 500px;
    overflow-y: auto;
}

.form-inline {
    margin-left: 30%;
}

.message-input {
    width: 430px;
}

.message-button {
    width: 70px;
    background-color: royalblue;
}

.close-button {
    align-items: flex-end;
}