.top-header {
    padding-left: 37%;
    padding-top: 150px;
}

.form-group {
    width: 1000px;
    padding-left: 31%;
    padding-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}